<%= @letters[0..8] %>
<form action="score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <input type="text" name="word">
  <input type="submit">
</form>
